<style>
    
        input[type=text], select {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
        .button {background-color: #008CBA;
    border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;}
          input[type=submit] {
          width: 100%;
          background-color: #4CAF50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
        
        input[type=submit]:hover {
          background-color: #45a049;
        }
        
        div {
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 20px;
        }



        ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
            }
            
            form,FORM {
              display: inline;padding: 10px 15px;
            }
            ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: right;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #111;
    }
    
            </style>
    
    <ul>
            <li><a  [routerLink]='["/"]' class="active" href="#home">Home</a></li>
            <li><a [routerLink]='["/#Annonces"]' href="#Annonces">Annonces</a></li>  
            <li><a [routerLink]='["/#about"]'  href="#about">About</a></li>
            
            <li><a [routerLink]='["/#annonce"]' href="#annonce">Publier une annonce</a></li>
            <li><a [routerLink]='["/#Connexion"]'href="#Connexion" >Connexion</a></li>
            <li><a [routerLink]='["/#Identification"]' href="#Identification">Identification</a></li>
            <li><a [routerLink]='["/#contact"]' href="#contact">Contact</a></li>
          </ul>





       




    <br><FORM>
                        <label for="fsale">Type de sale:</label> <br>
                        <SELECT name="salle" size="1">
                            <OPTION>Salle de cour<OPTION>Salle de réunion
                        </SELECT>
                </FORM>
            
            <FORM class="relative">
                    <label for="fplace">Capacité maximum:</label><br>
                    <SELECT name="poste" size="1">
                                <OPTION>1 Place   <OPTION>2 Place<OPTION>3 Place<OPTION>4 Place<OPTION>5 Place<OPTION>6 Place<OPTION>7 Place<OPTION>8 Place<OPTION>9 Place<OPTION>10 Place                   
                                <OPTION>11 Place<OPTION>12 Place<OPTION>13 Place<OPTION>14 Place <OPTION>15 Place<OPTION>16 Place<OPTION>17 Place <OPTION>18 Place<OPTION>19 Place<OPTION>20 Place
                                <OPTION>21 Place<OPTION>22 Place<OPTION>23 Place<OPTION>24 Place <OPTION>25 Place<OPTION>26 Place<OPTION>27 Place <OPTION>28 Place<OPTION>29 Place<OPTION>30 Place                      
                                <OPTION>31 Place<OPTION>32 Place<OPTION>33 Place<OPTION>34 Place <OPTION>35 Place<OPTION>36 Place<OPTION>37 Place <OPTION>38 Place<OPTION>39 Place<OPTION>40 Place                        
                                <OPTION>41 Place<OPTION>42 Place<OPTION>43 Place<OPTION>44 Place <OPTION>45 Place<OPTION>46 Place<OPTION>47 Place <OPTION>48 Place<OPTION>49 Place<OPTION>50 Place       
                    </SELECT>
                </FORM>
            <FORM>
                    <label for="fplace">Durée:</label><br>
                    
                    <input type="checkbox" id="tableau" name="A l'heure">
                    <label for="scales">A l'heure </label>
                    <input type="checkbox" id="tableau" name="A la journée">
                    <label for="scales">A la journée </label>
                    <input type="checkbox" id="tableau" name="au mois">
                    <label for="scales">au mois </label>
            </FORM>
            <br><br>
            <FORM >
                    <label for="fplace">Situation géographique:</label>
                    <SELECT name="ville" size="1">
                        <OPTION>Villetaneuse Nord   <OPTION>Bobigny<OPTION>Saint-Denis<OPTION> Argenteuil<OPTION>Saint-Denis La Plaine<OPTION>Villetaneuse Sud
                    </SELECT>
            </FORM>
            <br><h3>Equipements dans la salle:</h3><br>
            <input type="checkbox" id="tableau" name="vidéoprojecteur">
            <label for="scales">vidéoprojecteur</label>
            <input type="checkbox" id="tableau" name="tableau">
            <label for="scales">tableau</label>
            <input type="checkbox" id="tables" name="tables">
            <label for="tables">vidéoprojecteur</label>
            <input type="checkbox" id="chaises" name="chaises">
            <label for="scales">chaises</label>
            <input type="checkbox" id="canapé" name="canapé">
            <label for="scales">canapé</label>
            <input type="checkbox" id="fauteuils" name="fauteuils">
            <label for="tables">fauteuils</label>
           <br><br>
           <form >
            Select a file: <input type="file" name="myFile"><br><br>
           
          </form>
            <button [routerLink]='["/"]' class="button" type="submit">Publier</button> 
            <button [routerLink]='["/"]' class="button" type="submit">Retour</button> 
       
  
        
    
    